body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background: #0077cc;
    color: white;
    padding: 20px;
    text-align: center;
}
nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
section {
    padding: 40px;
    text-align: center;
}
footer {
    background: #333;
    color: white;
    padding: 10px;
    text-align: center;
}